.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  user-select: none;
}
.track {
  position: absolute;
  right: 0;
  left: 0;
  flex: 1;
  height: 6px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
}
.slider {
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  border-radius: 18px;
  background-color: var(--primary-color);

}


.icon {
  margin-right: 6px;
  user-select: none;
  pointer-events: none;
}